@import "tailwindcss";

body {
  background-color: rgb(1, 1, 18);
  color: #fff;
}

.hero {
  line-height: 1.9rem;
}

@media screen and (max-width: 480px) {
  .hero-btns {
    flex-direction: column;
  }
}